/*#####Reset Styles#####*/
body,
ul,
li,
a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
dialog {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: Vazir;
  font-weight: normal;
  line-height: 1.5;
  scrollbar-color: var(--E1P-8) var(--white);
  scrollbar-width: thin;
  color: var(--Fontcolor);
}

body {
  min-height: 100vh;
}
body section,
header,
footer {
  direction: rtl;
}
html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}
.center-slider {
  direction: ltr !important;
}
a,
button,
select,
input[type="button"] {
  cursor: pointer;
}

input[type="button"][disabled],
button[disabled],
.sp-disabled {
  cursor: not-allowed !important;
  filter: grayscale(1);
  /*  mix-blend-mode: luminosity;*/
}

.sp-disabled:is(.sp-grid-button a, .sp-g-button a, .sp-g-body button) {
  opacity: 0.5;
}

input,
select,
textarea,
button {
  border: 0;
  outline: 0;
}

::placeholder {
  font-size: var(--smallfont);
  font-weight: normal;
  color: var(--PlaceholderColor);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none !important;
  min-height: 5.375rem !important;
  width: 100% !important;
}
address {
  font-style: normal;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--E1P-8);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--E1P-8);
}
.zr-wrapper {
  width: calc(100% - var(--PercentWidth));
  margin: auto;
}
.phone-number {
  color: var(--primary70);
}
.zr-wrapper-mid {
  max-width: 1440px;
}
.sp-flex-end {
  justify-content: flex-end;
}

/*#####Custom Styles#####*/
:root {
  --E1P-8: #3d3a36;
  --E3S-8: #ddcbab;
  --black: #000;
  --white: #fff;
  --Gray-2: #F5F5F5;
  --Gray-6: #BBBBBB;
  --Gray-4: #E6E6E6;
  --Grey-9: #717171;
  --Grey-10: #4F4F4F;
  
  --Gray-1-1: #F1F1F1;
  --TagDiscount:#DC3D3D;
  --TagMojudi:#877A05CC;
  --TagNew:#685ED9CC;
  --TagTextColor:#F8F8F8;
  --TagTextColorSecondary:#2C2C2C;

  --corner-radius-1: 8px;
  --corner-radius-2: 12px;
  --corner-radius-3: 16px;
  --corner-radius-4: 24px;
  --corner-radius-5: 32px;
  --corner-radius-6: 64px;
}



@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('../Fonts/eot/iranyekanwebboldfanum.eot');
	src: url('../Fonts/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../Fonts/woff/iranyekanwebboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../Fonts/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 100;
	src: url('../Fonts/eot/iranyekanwebthinfanum.eot');
	src: url('../Fonts/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../Fonts/woff/iranyekanwebthinfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../Fonts/ttf/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('../Fonts/eot/iranyekanweblightfanum.eot');
	src: url('../Fonts/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../Fonts/woff/iranyekanweblightfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../Fonts/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('../Fonts/eot/iranyekanwebregularfanum.eot');
	src: url('../Fonts/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../Fonts/woff/iranyekanwebregularfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../Fonts/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 500;
	src: url('../Fonts/eot/iranyekanwebmediumfanum.eot');
	src: url('../Fonts/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../Fonts/woff/iranyekanwebmediumfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../Fonts/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 800;
	src: url('../Fonts/eot/iranyekanwebextraboldfanum.eot');
	src: url('../Fonts/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../Fonts/woff/iranyekanwebextraboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../Fonts/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 850;
	src: url('../Fonts/eot/iranyekanwebblackfanum.eot');
	src: url('../Fonts/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../Fonts/woff/iranyekanwebblackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../Fonts/ttf/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 900;
	src: url('../Fonts/eot/iranyekanwebextrablackfanum.eot');
	src: url('../Fonts/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../Fonts/woff/iranyekanwebextrablackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../Fonts/ttf/iranyekanwebextrablackfanum.ttf') format('truetype');
}





@font-face {
  font-family: adoreSans;
  src: url('../Fonts/adore-font/Adore.ttf')  format('truetype'),
  url('../Fonts/woff/iranyekanwebextrablackfanum.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: islandMoments;
  src: url('../Fonts/IslandMoments-Regular.ttf')  format('truetype');
  font-weight: normal;
}

body * {
  font-family: "iranyekan";
}
#divMain{
  background-color: var(--Gray-2);
}
.zr-header-top {
  background-color: var(--E3S-8);
  color: var(--black);
  height: 36px;
}

.zr-wrapper {
  margin: 0 auto;
  max-width: 1680px;
}
.zr-header-main{
  border-bottom: 1px solid var(--E3S-8);
  background-color: var(--E1P-8);
  height: 116px;
}
.zr-header-container{
  align-items: center;
  height: 80px;
}
.zr-header-menu{
  width: 562px;
}
.zr-header-menu > a{
  font-size: 1rem;
  font-weight: 400;
  padding: 8px;
  border-radius: 0 8px 0 8px;
  color: var(--Gray-6);
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zr-header-menu > a:not(.zr-header-menu > a:first-child):hover{
  outline: 1px solid var(--E3S-8);
  color: var(--white);
}
.zr-header-menu > a:nth-child(2):hover svg{
  transform: rotate(180deg);
}
.zr-header-menu > a:nth-child(2):hover {
  background-color: var(--E3S-8);
  color: var(--E1P-8);
  fill: var(--E1P-8);
}
.zr-header-menu > a:nth-child(2):hover svg path {
  fill: var(--E1P-8);
}
.zr-header-menu > a:nth-child(2):hover span{
  color: var(--E1P-8);
}
.zr-header-menu > a:nth-child(2):hover .zr-header-submenu{
  display: flex !important;
}
.zr-header-menu > a svg{
  width: 24px;
  margin-right: 8px;
}
.zr-header-menu > a svg path{
  fill: var(--Gray-6);
}
.zr-header-menu > a:first-child{
  border: 1px solid var(--E3S-8);
  color: var(--white);
}
.zr-header-submenu{
  display: none !important;
  width: 832px;
  height: 578px;
  background-color: var(--white);
  border-radius: 0 32px 0 32px;
  top: 71px;
  right: -132px;
  z-index: 10;
  border: 1px solid var(--E3S-8);
  padding: 8px 32px 16px 32px;
}
.zr-header-connector{
  width: 200px;
  height: 32px;
  top: -29px;
  right: 78px;
  z-index: 12;
}




.zr-submenu-items ul{
  border: 1px solid var(--E3S-8);
  border-top-right-radius: 16px;
  border-bottom: none;
  border-left: none;
  height:490px ;
  flex-wrap: wrap;
}
.zr-submenu-items ul:not(.zr-submenu-items ul:first-child){
  margin-right: -12px;
}
.zr-submenu-items ul li{
  width: 200px;
  height: 61px;
  padding: 16px 8px;
  color: var(--Grey-9);
}
.zr-submenu-items h4{
  width: 200px;
  height: 61px;
  padding: 16px 8px;
  color: var(--black);
}










.zr-header-left{
  width: 562px;
  justify-content: flex-end;
}






.zr-header-left img{
  width: 40px;
  padding: 8px;
  cursor: pointer;
}
.zr-header-left > *{
  margin-right: 29px;
  border-radius: 0 8px 0 8px;
}
.zr-header-left > *:hover{
  outline: 1px solid var(--E3S-8);
  background-color: var(--Grey-10);
}
.zr-header-logo{
  width:158px;
}
.zr-header-login{
  width: 72px;
  cursor: pointer;
}
.zr-header-login:hover .zr-login-info{
  display: flex !important;
}
.zr-header-login img{
  width: 24px;
  padding: 0;
}
.zr-login-info{
  display: none !important;
  top: 49px;
  left: 0;
  background-color: var(--white);
  width: 200px;
  padding: 16px 8px;
  color: var(--black);
  align-items: center;
  border-radius: 8px;
  height: 199px;
  z-index: 10;
  box-shadow: 0 0 10px 0px var(--black);
}
.zr-login-info a{
  font-weight: 500;
  font-size: 14px;
  color: var(--black);
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
.zr-login-info a:hover{
  color: var(--E1P-8);
}
.zr-login-info-connector{
  top: -10px;
  left: 0;
  width: 82px;
  height: 12px;
  z-index: 25;
}



.zr-header-basket{
  position: relative;
  height: 40px;
  width: 40px;
}
.zr-basket-red{
  position: absolute;
  bottom: 5px;
  right: 8px;
  border-radius: 50%;
  background-color: red;
  width: 10px;
  height: 10px;
}

.zr-under-header-bg-container{
  height: 811px;
  position: relative;
}
.zr-under-header-bg-right{
  background-color: var(--E1P-8);
  width: 50%;
  border-radius: 0 0 0 268px;
}
.zr-under-header-bg-left{
  width: 50%;
}
.zr-absolute-container{
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  left: 0;
}
.zr-under-header-right{
  width: 50%;
  height: 100%;
  justify-content: flex-start;
}

.zr-under-header-right img{
  height: 100%;
  width: 100%;
}

.zr-under-header-left{
  width: 50%;
  height: 100%;
}

.zr-img-under-header-left ,.zr-img-under-header-left-container{
  position: relative;
  width: 500px;
  height: 763px;
  margin-left: 32px;
  border-radius: 300px;
  flex-shrink: 0;
}
.zr-img-under-header-mid{
  width: 246px;
  height: 334px;
  border-radius: 0 var(--corner-radius-6) 0 var(--corner-radius-6);
  margin-left: 24px;
  flex-shrink: 0;
}
.zr-img-under-header-right{
  width: 246px;
  height: 334px;
  border-radius: 0 var(--corner-radius-6) 0 var(--corner-radius-6);
  margin-left: 24px;
  flex-shrink: 0;
}
.elipse-under-header{
  position: absolute;
  width: 296.1px;
  height: 838.49px;
  border: 1px solid var(--E3S-8);
  transform: rotate(27.59deg);
  top: -42px;
  right: 99px;
  border-radius: 50%;
  overflow: visible;
}


.zr-under-header-slider{
  width: 100%;
  height: 530px;
  line-height: 100%;
  margin: 10px 75px;
}

.zr-under-header-slider h2{
  font-size: 40px;
  letter-spacing: 0;
  height: 207px;
}
.zr-under-header-slider-middle{
  height: 93px;
  align-self: flex-end;
}
.zr-under-header-slider-content{
  margin: 0 32px;
}
.zr-under-header-slider-content p{
  width: 373px;
  height: 100%;
}
.zr-under-header-slider-before,.zr-under-header-slider-after{
  width: 24px;
  height: 0;
  border: 2px solid var(--E3S-8);
}

.zr-under-header-slider-before{
  top: 0;
  right: 0;
}
.zr-under-header-slider-after{
  bottom: 0;
  left: 0;
}
.zr-under-header-slider-buttons{
  width: 299px;
  height: 156px;
}
.zr-under-header-slider-bottom{
  height: 279px;
}
.zr-under-header-slider-button-top{
  width: 100%;
  height: 72px;
  background-color: var(--E1P-8);
  color: var(--E3S-8);
  border-radius: 0 var(--corner-radius-5) 0 var(--corner-radius-5);
}
.zr-under-header-slider-button-top:hover{
  background-color: var(--E3S-8);
  color: var(--E1P-8);
}
.zr-under-header-slider-button-top:hover path{
  stroke: var(--E1P-8);
}
.zr-under-header-slider-button-top svg path{
  stroke: var(--E3S-8);
}
.zr-under-header-slider-button-top span{
  margin-left: 16px;
}
.zr-under-header-slider-button-bottom div span{
  font-family: "adoreSans" !important;
}





.zr-slider-btn{
  width: 84px;
  height: 60px;
}
.zr-slider-btn:last-child{
  transform: rotate(180deg);
}
.zr-slider-btn:hover .zr-slider-line{
  width: 20px;
}
.zr-slider-btn:hover .zr-slider-circle{
  display: none;
}
.zr-slider-btn:hover .zr-slider-circle-black{
  visibility: visible;
}
.zr-slider-arrow{
  right: -7px;
  top: 17px;
}
.zr-slider-arrow path{
  fill: var(--black);
}
.zr-slider-line{
  width: 54px;
  height: 0;
  border: 1px solid var(--black);
  right: 0;
  top: 28px;
  transition-duration: 500ms;
}
.zr-slider-circle{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--black);
  left: 0;
  top: 0;
}
.zr-slider-circle-black {
  visibility: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--black);
  left: 0;
  top: 0;
  transition-delay: 500ms;
}







/* category */
.zr-category{
  max-width: 1396px;
  margin: 24px auto;
  height: 198px;
}
.zr-catergory h3{
  height: 41px;
  line-height: 41px;
  margin-top: 76px;
  color: var(--black);
}
.zr-categor-item{
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.zr-categor-item:hover img{
  outline: 6px solid var(--Grey-9);
}
.zr-categor-item img{
  height: 145px;
  object-fit: cover;
  border-radius: 0 40px 0 40px;
}
.zr-categor-item h4{
  color: var(--Grey-10);
  height: 41px;
  line-height: 41px;
}
.zr-line-w100{
  bottom: 40px;
  height: 0;
  width: 100%;
  border: 1px solid var(--E3S-8);
}
.zr-newest-product-top a{
  width: 152px;
  height: 41px;
  border-radius:0 var(--corner-radius-3) 0 var(--corner-radius-3);
  background-color: var(--Gray-1-1);
  border: 1px solid var(--Gray-4);
  line-height: 40px;
  text-align: center;
  color: var(--black);
}
.zr-newest-product-top a:hover{
  border: 1px solid var(--E1P-8);
  background-color: var(--Gray-2);
  color: var(--E1P-8);
}
.zr-newest-product{
  position: relative;
  z-index: 50;
  height: 632px;
  width: 100%;
  margin: 85px 0 18px 0;
}
.zr-newest-product-top{
  height: 41px;
}
.zr-newest-product-top h3{
  line-height: 41px;
}
.zr-newest-product-item{
  width: 323.2px;
  background-color: var(--white);
  border-radius: 0 32px 0 32px;
  overflow: hidden;
}
.zr-newest-product-item:hover{
  outline: 5px solid var(--Grey-9);
}
.zr-newest-product-container{
  height: 632px;
}
.zr-newest-item-img{
  height: 350px;
}
.zr-newest-product-item img{
  width: 100%;
  height: 350px;
  border-radius: 0 32px 0 32px ;
}
.zr-newest-product-bottom{
  height: 480px;
}
.zr-newest-item-desc h4{
  color: var(--black);
  height: 22px;
  line-height: 22px;
}
.zr-newest-item-desc{
  height: 130px;
  padding: 10px 0 16px 0;
}
.zr-newest-item-price{
  gap: 8px;
}
.zr-newest-item-price span:first-child{
  text-decoration: line-through;
  color: var(--Grey-9);
}
.zr-newest-item-price span:nth-child(3){
  color: var(--Grey-9);
}
.zr-newest-item-weight{
  gap: 16px;
}
.zr-newest-item-weight span:first-child,.zr-newest-item-weight span:last-child{
  width: 30px;
  height: 1px;
  background-color: var(--black);
}

.zr-tag{
  padding: 0 4px;
  border-radius: 0 4px 0 4px;
  position: absolute;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.zr-discount-tag{
  height: 30px;
  top: 12px;
  left: 12px;
  background-color: var(--TagDiscount);
  color: var(--white);
  line-height: 34px;
}
.zr-mojud-tag{
  height: 25px;
  bottom: 12px;
  right: 12px;
  background-color: var(--TagMojudi);
  color: var(--white);
  line-height: 27px;
}
.zr-jadid-tag{
  height: 25px;
  bottom: 12px;
  right: 101px;
  background-color: var(--TagNew);
  color: var(--white);
  line-height: 27px;
}
.zr-ojrat-tag{
  height: 25px;
  bottom: 12px;
  right: 149px;
  background-color: var(--white);
  color: var(--TagTextColorSecondary);
  line-height: 27px;
}

.zr-newest-button-bottom {
  width: 280px;
  height: 60px;
  align-self: center;
}
.zr-newest-button-bottom span{
  font-family: "adoreSans" !important;
  color: var(--black);
}

.zr-newest-elipse{
  width: 1920px;
  height: 678px;
  border-radius: 50%;
  border: 1px solid var(--E3S-8);
  position: absolute;
  top: 9px;
  right: -120px;
  transform: rotate(-16deg);
  z-index: -10;
}

#divMain{
  /* overflow-x: hidden; */
}

.zr-about{
  width: 100%;
  background-color: var(--E1P-8);
}
.zr-about-inner {
    align-items: center;
}

.zr-dots-top{
  width: 5px;
  height: 121px;
  margin: 30px 0 32px 0;
}

.zr-dots-top span ,.zr-dots-middle span,.zr-dots-bottom span {
  width: 5px;
  height: 5px;
  border: 1px solid var(--E3S-8);
  border-radius: 50%;
}
.zr-about-top{
  height: 500px;
  border-radius: 120px 120px 0 0;
  overflow: hidden;
}
.zr-about-top img{
  width: 100%;
}
.zr-dots-middle{
  width: 5px;
  height: 92px;
  margin: 48px 0 95px 0;
}
.zr-about-desc{
  width: 100%;
  height: 750px;
  align-items: center;
}

.zr-about-desc-right{
    width: 560px;
    height: 643px;
    align-self: flex-end;
}
.zr-about-desc-middle{
    width: 464px;
    height: 750px;
    z-index: 1;
}
.zr-about-desc-left{
    width: 544px;
    height: 563px;
    align-items: flex-end;
}
.zr-about-desc-right>div:first-of-type{
    align-items: flex-end;
    margin-bottom: 7px;
}
.zr-about-desc-right img:nth-of-type(1){
    width: 257px;
    height: 298px;
    border-radius:0 64px 0 0;
}
.zr-about-desc-right img:nth-of-type(2){
    width: 257px;
    height: 367px;
}

.zr-about-desc-right h2{
    font-size: 32px;
    color: var(--white);
}

.zr-about-desc-right >p{
    color: var(--white);
}
.zr-about-desc-middle img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.zr-about-desc-left img{
    width: 100%;
    height: 298px;
    margin-bottom: 17px;
    border-radius: 0 63px 0 0;
}
.zr-about-desc-left p{
    width: 100%;
    height: 298px;
    margin-bottom: 17px;
    border-radius: 0 63px 0 0;
    color: var(--white);
}


.zr-about-desc-left >a{
  width: 160px;
  border-radius:0 16px 0 16px;
  background-color: var(--E1P-8);
  border: 1px solid var(--Gray-4);
  line-height: 41px;
  text-align: center;
  color: var(--white);
}
.zr-about-desc-left a:hover{
  border: 1px solid var(--E1P-8);
  background-color: var(--Gray-2);
  color: var(--E1P-8);
}
.zr-dots-bottom{
    width: 5px;
    height: 63px;
    margin: 31px 0 65px 0;
}


.zr-about-ellipse{
    width: 306px;
    height: 867px;
    border-radius: 50%;
    border: 1px solid var(--E3S-8);
    position: absolute;
    top: -51px;
    right: 94px;
    transform: rotate(30deg);
    z-index: -1;
}

.zr-collection{
    width: 100%;
    height: 820px;
    background-color: var(--Gray-2);
    border-radius: 0 120px 0 120px;
}
.zr-collection-right{
    width: 580px;
    height: 492px;
    align-items: center;
}

.zr-collection-left{
    width: 983px;
    height: 597px;
}
.zr-collection h2{
    font-family: "islandMoments";
    color: var(--black);
    font-size: 64px;
    height: 74px;
    line-height: 74px;
}
.zr-collection p{
    color: var(--black);
    width: 316px;
    height: 224px;
    align-self: flex-end;
    line-height: 1.7rem;
    margin-top: 24px;
}
.zr-collection a{
    width: 279px;
    height: 72px;
    align-self: flex-start;
    bottom: 0;
    right: 0;
    line-height: 72px;
    background-color: var(--E1P-8);
    color: var(--E3S-8);
    border-radius: 0 32px 0 32px;
}
.zr-collection a:hover{
    background-color: var(--E3S-8);
    color: var(--E1P-8);
}
.zr-collection a:hover path{
    stroke: var(--E1P-8);
}
.zr-collection a span{
    font-size: 24px;
    font-weight: 400;
    margin-left: 16px;
}
.zr-collection path{
    stroke: var(--E3S-8);
}
.zr-collection>div{
    align-items: center;
    height: 100%;
}
.zr-collection-slider-right{
    width: 273px;
    height: 334px;
    align-self: flex-end;
    border-radius: 0 0 64px 0;
    overflow: hidden;
}
.zr-collection-slider-right img{
    width: 100%;
}
.zr-collection-slider{
    width: 421px;
    height: 100%;
    align-items: center;
}
.zr-collection-slider >div:first-child{
    width: 100%;
    height: 516px;
}
.zr-collection-slider >div:first-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.zr-collection-slider >div:nth-child(2){
    width: 287px;
    height: 60px;
}
.zr-collection-slider-left{
    width: 241px;
    height: 314px;
    border-radius: 0 0 0 64px;
    overflow: hidden;
}
.zr-slider-button {
  width: 287px;
  height: 60px;
  align-self: center;
}
.zr-slider-button span{
  font-family: "adoreSans" !important;
  color: var(--black);
}

.zr-slider-button svg *{
  stroke: var(--black);
}
.zr-slider-button svg:last-child{
  transform: rotate(180deg);
}








.zr-gallery{
    height: 544px;
    width: 100%;
    margin: 95px 0 120px 0;
}
.zr-gallery > div{
  height: 100%;
}
.zr-col1,.zr-col2{
  width: 324px;
}
.zr-col3{
  width: 449px;
  overflow: hidden;
}
.zr-col4{
  width: 512px;
}
.zr-rows{
  width: 100%;
  overflow: hidden;
}
.zr-rows img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.zr-item1{
  height: 324px;
  border-radius: 0 64px 0 0;
}
.zr-item2{
  height: 196px;
  border-radius: 0 0 64px 0;
}
.zr-item3{
  height: 196px;
  border-radius: 64px 0 0;
}
.zr-item4{
  height: 324px;
  border-radius: 0 0 0 64px;
}
.zr-item5{
  height: 544px;
  border-radius: 0 64px 0 0;
}
.zr-item6{
  height: 305px;
  border-radius: 0 64px 0 0;
}
.zr-item7{
  height: 215px;

}
.zr-gallery-ellipse1,.zr-gallery-ellipse2{
  width: 174.18px;
  height: 504.91px;
  border-radius: 50%;
  border: 1px solid var(--E3S-8);
  position: absolute;
  top: -153px;
  right: 163px;
  transform: rotate(97.27deg);
}
.zr-gallery-ellipse2{
  top: -153px;
  right: 163px;
  transform: rotate(82.73deg);
}
.zr-follow-roza{
  display: inline-block;
  text-align: center;
  width: 256px;
  height: 110px;
  font-size: 32px;
  color: var(--white);
}










.zr-undergallery{
    width: 100%;
    height: 500px;
    border-radius: 0 0 120px 120px;
    overflow: hidden;
}
.zr-undergallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.zr-undergallery-txt{
    height: 60px;
    right:147.62px;
    top: 81px;
}
.zr-undergallery-txt span{
    color: var(--black);
    font-size: 17.85px;
    font-weight: 500;
}
.zr-undergallery-ellipse{
    width: 111.35px;
    height: 352.68px;
    border-radius: 50%;
    border: 1px solid var(--E3S-8);
    position: absolute;
    top: -132px;
    right: 85px;
    transform: rotate(-97.96deg);
    z-index: 0;
}
.zr-features{
    margin-top: 64px;
}
.zr-features > div{
    width: 400px;
    min-height: 100px;
}
.zr-features-title{
}
.zr-features-title path{
    fill: var(--E3S-8);
}
.zr-features-title h3{
    color: var(--E3S-8);
    margin-right: 12px;
}
.zr-features > div p{
    color: var(--white);
    margin-top: 12px;
}















.zr-newest-article{
  position: relative;
  z-index: 50;
  height: 777px;
  width: 100%;
  margin-top: 42px;
}

.zr-newest-article-container{
  height: 100%;
}

.zr-newest-article-top{
  height: 44px;
}
.zr-newest-article-top h3{
  line-height: 41px;
}
.zr-newest-article-top a{
  width: 152px;
  height: 41px;
  border-radius:0 var(--corner-radius-3) 0 var(--corner-radius-3);
  background-color: var(--Gray-1-1);
  border: 1px solid var(--Gray-4);
  line-height: 40px;
  text-align: center;
  color: var(--black);
}
.zr-newest-article-top a:hover{
  border: 1px solid var(--E1P-8);
  background-color: var(--Gray-2);
  color: var(--E1P-8);
}



.zr-newest-article-items{
  height: 627px;
  align-items: center;
  padding: 10px;
}

.zr-newest-article-item{
    width: 316px;
    height: 607px;
    background-color: var(--white);
    border-radius: 500px 500px 0 0;
    overflow: hidden;
    border-bottom: 5px solid var(--E3S-8);
    align-items: center;
}
.zr-newest-article-item:hover{
    border-bottom: 5px solid var(--black);
}

.zr-newest-article-item-img{
    width: 300px;
    height: 435px;
    border-radius: 500px;
    object-fit: cover;
    margin: 8px;
    background-color: var(--black);
}




.zr-newest-article-item-desc{
    width: 100%;
    height: 186px;
    background-color: var(--white);
    border-radius: 500px 500px 0 0;
    bottom: 45px;
    right: 0;
    align-items: center;
    padding: 0 8px;
}


.zr-article-number{
  width: 128px;
  height: 23px;
  margin: 32px 0 24px 0;
  align-items: center;
}

.zr-article-number b{
  font-family: "adoreSans";
  color: var(--black);
  line-height: 23px;
}
.zr-article-number span{
  width: 36.5px;
  height: 0;
  border: 1px solid var(--black);
}
.zr-newest-article-item-desc h4{
  height: 50px;
  align-self: flex-start;
  line-height: 50px;
  color: var(--black);
}

.zr-newest-article-item-desc p{
  height: 50px;
  align-self: flex-start;
  line-height: 25px;
  color: var(--black);
}

.zr-newest-article-more{
    width: 300px;
    height: 56px;
    z-index: 20;
    line-height: 56px;
    text-align: center;
    color: var(--black);
}






.zr-newest-button-bottom {
  width: 280px;
  height: 60px;
  align-self: center;
}
.zr-newest-button-bottom span{
  font-family: "adoreSans" !important;
  color: var(--black);
}

.zr-newest-button-bottom svg *{
  stroke: var(--black);
}
.zr-newest-button-bottom svg:last-child{
  transform: rotate(180deg);
}


.zr-article-ellipse{
    width: 1920px;
    height: 678px;
    border-radius: 50%;
    border: 1px solid var(--E3S-8);
    position: absolute;
    top: 9px;
    right: -120px;
    transform: rotate(-11deg);
    z-index: -10;
}

.zr-footer-container{
  width: 100%;
  background-color: var(--Gray-2);
  padding: 55.36px 0 32px 0;
}
.zr-footer{
  width: 100%;
  height: 386.64px;
  background-color: var(--E1P-8);
  border-radius: 0 64px 0 64px;
  overflow: hidden;
}
.zr-footer-title{
  width: 100%;
  height: 70px;
  margin: 41.72px 46px 0 0;
  align-items: center;
}

.zr-footer-title span{
  width: 200px;
  height: 70px;
  margin-left: 30px;
  line-height: 62px;
  color: var(--E3S-8);
  font-size: 70px;
  font-weight: 400;
  font-family: "adoresans";
}
.zr-footer-line{
  height: 1px;
  flex-grow: 1;
  background-color: var(--E3S-8);
}

.zr-footer-main{
  width: 100%;
  height: 275px;
}
.zr-footer-col{
  width: 300px;
  height: 100%;
}
.zr-footer-col1{
  width: 479px;
  align-items: center;
}

.zr-footer-col2{
  width: 553px;
}

.zr-footer-col3{
  width: 578px;
}
.zr-footer-col1-row1{
  width: 387px;
  height: 160.92px;
}
.zr-footer-col1-row1 p{
  color: var(--white);
  line-height: 1.8rem;
}
.zr-footer-col1-row2{
  width: 387px;
  height: 90px;
}

.zr-footer-col1-row2 a{
  width: 129px;
  height: 90px;
  line-height: 90px;
  text-align: center;
}
.zr-footer-col1-row2 a:first-child{
  border-left: 1px solid var(--E3S-8);
}
.zr-footer-col1-row2 a:last-child{
  border-right: 1px solid var(--E3S-8);
}
.zr-footer-col1-row2 img{
  width: 60px;
  height: 70px;
  vertical-align: middle;
}

.zr-footer-col2 ul{
  flex-grow: 1;
}
.zr-footer-col2 ul li{
  font-weight: 400;
  color: var(--white);
  font-size: 14px;
  height: 42px;
  line-height: 40px;
  text-align: center;
}
.zr-footer-col2 ul li:hover{
  color: var(--E3S-8);
}
.zr-footer-col2 ul li:first-child{
  font-weight: 500;
  color: var(--E3S-8);
  font-size: 16px;
}
.zr-footer-col3{
  margin: 0 34px;
}
.zr-footer-contact{
  width: 100%;
  height: 148px;
  margin-bottom: 16px;
}
.zr-footer-contact h3{
  color: var(--E3S-8);
}
.zr-footer-contact address{
  width: 482.18px;
  color: var(--white);
  line-height: 26px;
}
.zr-footer-contact div{
  color: var(--white);
}
.zr-footer-socials{
  height: 50px;
  width: 100%;
  align-items: flex-end;
}
.zr-footer-socials div{
  width: 293.34px;
  height: 34px;
}













































