.item-disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.sp-drop-button {
  height: 35px;
  font: normal 15px;
  font-family: var(--font-primary);
  margin: 0 !important;
  border-radius: 10px !important;
  padding: 6px 8px 4px 23px;
  direction: rtl;
}
.sp-drop-parent-show .sp-drop-button {
  border-radius: 10px 10px 0 0 !important;
}
.sp-drop-parent {
  --line: var(--gray-9);
}
.sp-drop-button:after {
  left: 4px;
  right: unset;
}

.zr-select-weight.sp-drop-items {
  border-top: 0 !important;
  border-radius: 0 0 0.75rem 0.75rem;
  overflow: hidden;
  position: absolute;
}
.sp-drop-items li:not(:nth-last-child(2)) {
  margin-bottom: 0.5rem;
}
.sp-drop-items li {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  transition: 0s;
}
.item-selected:not(:only-child), .sp-drop-item:hover, .sp-drop-active {
  background-color: #F5F8FF;
  color: #1647C7;
  border-color: #1647C7;
}


.tree-item-box {
  padding-left: 2.5rem;
}
.arrow-left {
  width: 22px;
  height: 22px;
  left: 0;
  transform: rotate(180deg);
}
.rotate-down {
  transform-origin: center;
  transform: rotate(-360deg);
}
.parent-slide {
  /* background-color: var(--gray-3); */
  padding: 0rem 2rem .2rem 0;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.sp-f-check:before {
  left: -3px;
  height: 20px;
  width: 20px;
  top: -4px;
}

.sp-f-check:checked:before {
  border: 1px solid #20b082;
}
.sp-f-check:checked:after {
  width: 6px;
  height: 11px;
  border-color: #20b082;
}