/*#####Reset Styles#####*/
body,
ul,
li,
a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
dialog {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: Vazir;
  font-weight: normal;
  line-height: 1.5;
  scrollbar-color: var(--Mainprimary) var(--whitepure);
  scrollbar-width: thin;
  color: var(--Fontcolor);
}

body {
  min-height: 100vh;
}
body section,
header,
footer {
  direction: rtl;
}
html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}
.center-slider {
  direction: ltr !important;
}
a,
button,
select,
input[type="button"] {
  cursor: pointer;
}

input[type="button"][disabled],
button[disabled],
.sp-disabled {
  cursor: not-allowed !important;
  filter: grayscale(1);
  /*  mix-blend-mode: luminosity;*/
}

.sp-disabled:is(.sp-grid-button a, .sp-g-button a, .sp-g-body button) {
  opacity: 0.5;
}

input,
select,
textarea,
button {
  border: 0;
  outline: 0;
}

::placeholder {
  font-size: var(--smallfont);
  font-weight: normal;
  color: var(--PlaceholderColor);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none !important;
  min-height: 5.375rem !important;
  width: 100% !important;
}
address {
  font-style: normal;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary40);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary40);
}
.zr-wrapper {
  width: calc(100% - var(--PercentWidth));
  margin: auto;
}
.phone-number {
  color: var(--primary70);
}
.zr-wrapper-mid {
  max-width: 1440px;
}
.sp-flex-end {
  justify-content: flex-end;
}

/*#####Custom Styles#####*/
:root {
  --E1P-8: #3d3a36;
  --E3S-8: #ddcbab;
  --black: #000;
  --white: #fff;
  --gray-6: #BBBBBB;

  --corner-radius-1: 8px;
  --corner-radius-2: 12px;
  --corner-radius-3: 16px;
  --corner-radius-4: 24px;
  --corner-radius-5: 32px;
}

@font-face {
  font-family: "iranYekan";
  src: url("../Fonts/IRANYekanMedium.ttf");
}

body * {
  font-family: "iranYekan";
}

.zr-header-top {
  background-color: var(--E3S-8);
  color: var(--black);
  height: 36px;
}

.zr-wrapper {
  margin: 0 auto;
  max-width: 1680px;
  height: 80px;
}
.zr-header-main{
  border-bottom: 1px solid var(--E3S-8);
  background-color: var(--E1P-8);
  height: 116px;
}
.zr-header-container{
  align-items: center;
}
.zr-header-menu{
  width: 562px;
}
.zr-header-menu > a{
  font-size: 1rem;
  font-weight: 400;
  padding: 8px;
  border-radius: 0 8px 0 8px;
  color: var(--gray-6);
  min-width: 100px;
  display: flex;
}
.zr-header-menu > a img{
  width: 24px;
  margin-right: 8px;
}
.zr-header-menu > a:first-child{
  border: 1px solid var(--E3S-8);
  color: var(--white);
}
.zr-header-left{
  width: 562px;
  justify-content: flex-end;
}
.zr-header-left img{
  width: 40px;
  padding: 8px;
  cursor: pointer;
}
.zr-header-left > *{
  margin-right: 29px;
}
.zr-header-logo{
  width:158px;
}
.zr-header-login{
  width: 72px;
  cursor: pointer;
}
.zr-header-login img{
  width: 24px;
  padding: 0;
}
.zr-header-basket{
  position: relative;
  height: 40px;
  width: 40px;
}
.zr-basket-red{
  position: absolute;
  bottom: 5px;
  right: 8px;
  border-radius: 50%;
  background-color: red;
  width: 10px;
  height: 10px;
}

.zr-under-header-bg-container{
  height: 811px;
}
.zr-under-header-bg-right{
  background-color: var(--E1P-8);
  width: 50%;
  border-radius: 0 0 0 268px;
}
.zr-under-header-bg-left{
  background-color: #04e717;
  width: 50%;
}